@import "tailwindcss";
@source "../views/**/*.blade.php";
@source "../js/**/*.js";
@source "../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php";
@source "../../storage/framework/views/*.php";

/* Include your Livewire PHP files if you return classes from components */

@source "../../app/Livewire/**/*.php";
@theme {
    --font-sans: "Instrument Sans", ui-sans-serif, system-ui, sans-serif;
}


/* BREAKING NEWS TICKER */

@keyframes ticker {
    0% {
        transform: translate3d(0, 0, 0);
    }
    100% {
        transform: translate3d(-50%, 0, 0);
    }
}

.animate-ticker {
    animation: ticker 70s linear infinite;
    will-change: transform;
}

.animate-ticker {
    animation: ticker 60s linear infinite;
}


/* sub-nav on SITE-HEADER  */

.no-scrollbar::-webkit-scrollbar {
    display: none;
}

.no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
}